p.help-block(ng-message="required")
	| This field is required
p.help-block(ng-message="minlength")
	| This field is too short
p.help-block(ng-message="maxlength")
	| This field is too long
p.help-block(ng-message="email")
	| invalid email address
p.help-block(ng-message="number")
	| invalid number
p.help-block(ng-message="pattern")
	| invalid pattern
p.help-block(ng-message="compareTo")
	| This field must match the previous entry
p.help-block(ng-message="recordAvailabilityValidator")
	| This value already taken